<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>Task List</h1>

<table>
  <tr>
    <th>Task (click to complete)</th>
    <th>Update Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.reverse_each do |task| %>
  <tr>
    <td><%= link_to task.name, task, method: :delete, data: { confirm: 'Are you sure you are complete with your task?' } %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
  </tr>
<% end %>
</table>

<br />

